<body class="body">

<%= render(:partial => "header") %>
<div id='wrapper'>
	<div id="container">
	
		<%= render(:partial => "message") %>

		<%= render(:partial => "map") %>

	</div>
</div>

<%= render(:partial => "animation") %>

<%= render(:partial => "footer") %>

</body>