<!DOCTYPE html>
<html>
<head>
	<title>Still - for - Japan</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" %>
	<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false" %>
	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "http://use.typekit.com/fss7lof.js" %>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<%= csrf_meta_tags %>
</head>
<%= yield %>
</html>
